@using safe_web_app.Models
@model List<Application>
@{
    ViewBag.Title = "Catalogue";
}

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
    }
</style>

<body style="background-image:url('../../Images/background.jpg')">
    <h2>Full App Catalogue</h2>

    <table style="width:100%; border: 1px solid black; border-collapse: collapse;">
        <tr>
            <th>Icon</th>
            <th>App Name</th>
            <th>App Description</th>
            <th>URL</th>
            <th>Rating</th>
        </tr>
        @foreach (Application app in Model)
        {
            <tr>
                <td><a href="@app.url" target="_blank"><img src="~/Images/@app.imageUrl" alt="@app.title" height="42" width="42" /></a></td>
                <td>@app.title</td>
                <td><a href="@Url.Action("Comments", "Home")" style="color: black; text-decoration: none;">@app.app_desc</a></td>
                <td><a href="@app.url" target="_blank">@app.url</a></td>
                <td>@app.rating</td>
            </tr>
        }
    </table>
</body>
