@using safe_web_app.Models
@model CommentViewModel
@{
    ViewBag.Title = Model.application.title;
}

<div class="col-md-12">
    <h2><img src="~/Images/@Model.application.imageUrl" alt="" height="42" width="42" /> @Model.application.title</h2>
    <p>
        @Model.application.app_desc
    </p>
    <p>
        <strong>Rating: </strong>@Model.application.rating
        @{
            for (int i = 1; i < Model.application.rating; i++)
            {
                <img src="~/Images/fullStar.jpg" alt="fullStar" height="20" width="20" />
            }
            int num = 0;
            if (Model.application.rating % 1 > 0)
            {
                num = 1;
                <img src="~/Images/halfStar.jpg" alt="halfStar" height="22" width="20" />
            }
            else
            {
                num = 0;
            }

            for (int i = 0; i < 5 - num - Model.application.rating; i++)
            {
                <img src="~/Images/emptyStar.jpg" alt="emptyStar" height="20" width="20" />
            }
        }
    </p>
</div>
<br />
<div class="col-md-12">
    <h3>Comments:</h3>
    <table style="width:100%; border:1px solid black;" id="Comments">
        @foreach (var c in Model.comments)
        {
            <tr>
                <th>Name</th>
                <th>Comment</th>
            </tr>
            <tr>
                <td>@c.name</td>
                <td>"@c.comment1"</td>
            </tr>
        }
    </table>
</div>
<br />
<br />
<div class="col-md-12">
    <h3>Submit Comment:</h3>
    <table style="width:100%;">
        <tr>
            <td>                
                <form action="/Home/SubmitComment" method="post">
                    <input type="text" name="appId" value="@Model.application.id" style="display:none" />

                    <label for="name">Your Name:</label>
                    <input type="text" name="name" />
                    <br />

                    <label for="comment">Your Comment:</label>
                    <textarea id="commentBox" name="comment"></textarea>

                    <br />
                    <input type="submit" value="Submit" class="btn btn-default" />
                </form>
            </td>
        </tr>
    </table>
</div>