<!DOCTYPE html>
<style>
    body {
        background: url('Images/background.jpg');
    }
</style>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Images/icon.jpg" rel="shortcut icon" type="image/x-icon" />
    <title>@ViewBag.Title - S.A.F.E.</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:darkgreen">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="color:white">
                    <li><a href="@Url.Action("Index", "Home")" id="home" style="color:white"><img src="~/Images/icon.jpg" height="20" width="20" /> S.A.F.E</a></li>
                    <li><a href="@Url.Action("Catalogue", "Home")" style="color:white">Catalogue</a></li>
                    <li><a href="@Url.Action("SubmitRequest", "Home")" style="color:white">Submit Request</a></li>
                    <li><a href="@Url.Action("Contact", "Home")" style="color:white">Contact</a></li>
                </ul>


                <form method="post" action="/Home/Search" class="form-inline pull-left" style="margin:10px">
                    <input name="input" class="form-control mr-sm-2" type="search" id="Search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="searchButton">Search</button>
                </form>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <div class="container body-content" style="background-color:white">
        @RenderBody()
        <hr />
        <footer>
            <p id="demo">&copy; @DateTime.Now.Year - Property of EncAPPsulate</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>